body {
	margin: 0;
	padding: 0;
	font-family: Courier New;
	background: #FBFCFC;
}

header {
	position: relative; 
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background: #FBFCFC;
	vertical-align: b;
	padding-top: 10px;
	display: flex;
}

header img{
    margin-left: 40px;
	float: left;
	position: relative;
}

header h1{
	display: inline;
	margin:0;
	font-family: 'Alex Brush';
	font-size: 90px;
	color: #f5c8c4;;
	text-align: left;
}

header nav{
	padding-right: 20px;
	list-style: none;
}

header nav li{
	align-items:right;
	position: relative;
	display: inline-block;
	list-style: none;
	font-family: 'Courier New', Courier, monospace;
	margin-top: 20px;
}

header nav li a{
	position: relative;
	display: block;
	padding: 10px;
	font-size: 30px;
	margin-left: 30px;
	text-decoration: none;
}

#container {
	display: table;
	width: 100%;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

#container li a:hover {
	background-color: #f3dcf5;
  }

#content {
	display: table-cell;
	width: 50%;
	height: 500px;
	float: left;
	background: #FADBD8;
	margin-top: 10px;
	margin-bottom: 10px;
	/*Border Configuration*/
	border-right: 12px solid #FBFCFC;
	border-left: 12px solid #FBFCFC;
	box-sizing: border-box;
	overflow-y: scroll;
}

#content section {
	border-bottom:5px solid white
}

#content h2 {
		margin-top: 15px;
	margin-left: 15px;
	font-size: 15px;
	font-family: 'Sansita Swashed';
	text-align: left;
	color: gray;
}

#content table {
	margin-left: 10px;
	margin-right: 10px;
}

#content th, td {
	font-family: 'Sansita Swashed';
	font-size: 15px;
	text-align: center;
	padding: 5px;
}

.leftaside {
	display:table-cell;
	width: 25%;
	height: 500px;
	background: #FADBD8;
	margin-top: 10px;
	float: left;
	/*Border Configuration*/
	border-right: 12px solid #FBFCFC;
	border-left: 24px solid #FBFCFC;
	box-sizing: border-box;
}

.leftaside h2 {
	font-family: 'Sansita Swashed';
	color: #db928b;
	margin-left: 15px;
	font-size: 15px;
}
.chosen li {
	list-style: none;
	margin-bottom: 15px;
}

.chosen li a{
	margin-top: 15px;
	font-size: 15px;
	font-family: 'Sansita Swashed';
	text-align: left;
	color: gray;
	text-decoration: none;
}

.rightaside {
	display: table-cell;
	width: 25%;
	height: 500px;
	background: #FADBD8;
	margin-top: 10px;
	float: right;
	/*Border Configuration*/
	border-right: 24px solid #FBFCFC;
	border-left: 12px solid #FBFCFC;
	box-sizing: border-box;
}

.rightaside h2 {
	margin-top: 15px;
	margin-left: 15px;
	font-size: 15px;
	font-family: 'Sansita Swashed';
	text-align: left;
	color: gray;
}

.rightaside p {
	font-size: 13px;
	font-family: 'Sansita Swashed';
	margin-bottom: 10px;
	margin-left: 10px;
}

footer {
	background: #F5CDD3;
	height: 100px;
	clear: both;
}

footer ul {
	margin-left: 425px;
}

footer li {
	list-style: none;
	margin-bottom: 15px;
	margin-top: 40px;
	margin-left: 50px;
	display: inline-block;
	float: center;
}

footer li a {
	text-decoration: none;
	font-family: 'Alex Brush';
	font-size: 20px;
}

/*MEDIA QUERIES*/
/*Tablet Portrait*/
@media only screen and (min-device-width : 768px) 
and (orientation : portrait) { 
	.leftaside{
		width: 30%;
	}
	#content{
		width:70%;
		height: 100%;
	}
	.rightaside{
		display: none;
	}
	.nav{
		display: none;
	}
 }

 /*Smartphone Portrait*/
 @media only screen and (min-device-width: 600px) and (orientation : portrait) {
 	.leftaside{
 		width: 10%;
 	}

 	#content {
 		width: 90%;
 		height: 100%;
 	}

 	.rightaside {
 		display: none;
 	}

 	.nav {
 		display: none;
 	}
 }